.body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #212121;
}

.btnReload:hover{
    background-color: #CCFF90 !important;
}

.item:hover{
    background-color: #CCFF90;
}

.itemh2{
    font-size: 150%;
}

.marginbttm {
    padding-bottom: 30px;
}

.body {
    margin: 40px;
}

.time {
    text-align: right;
    color: #FAFAFA;
}

.styled-select{
    width: 500px;
    padding-bottom: 20px;
    background-color: #424242;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 50px;
    padding-top: 15px;
}

.mainTable{
    width: 100%;
    
}

.th1{
    width:50%;
    vertical-align: top;
}

.scrollable {
    
    height: 480px;
    overflow-y: scroll;
}

.controlPannelTh{
    width:50%;
    vertical-align:top;
    padding-top: 30px;
    padding-left: 30px;
}

.buttonLight{
    color:black;
    background-color: white;
}

.lightHeader{
    color:white;
    font-size: 20px;
}

.selectBoxLight{
    width: 200px;
}




/*Toggle-Button:*/
.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #76FF03;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after { transform: scale(1.15, 0.85); }
.cbx:checked ~ label { background: #CCFF90; }
.cbx:checked ~ label:after {
  left: 20px;
  background: #76FF03;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }





.tableControll{
    width:100%;
}
.tableControllTd{
    width:50%;
}
.tableControllTdRight{
    padding-left: 90px;
    padding-top: 20px;
}

.h1tableControll{
    color: #FAFAFA;
    font-size: 25px;
.body{
    font-family: "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    background-color: #212121;
    //overflow: hidden;
}

.item:hover{
    background-color: #CCFF90;
}

.itemh2{
    font-size: 150%;
}

.marginbttm {
    padding-bottom: 30px;
}

.body {
    margin: 40px;
}

.time {
    text-align: right;
    color: whitesmoke;
    font-size: 125%;
}

.styled-select{
    width: 500px;
    padding-bottom: 20px;
    background-color: #424242;
    border: 2px solid black;
    border-radius: 5px;
    padding-left: 50px;
    padding-top: 15px;
}

.mainTable{
    width: 100%;
    
}

.th1{
    width:50%;
}

#messages {
    border:none;
}

.scrollable {
    height: 480px;
    overflow-y: scroll;
}

.controlPannelTh{
    width:50%;
    vertical-align:top;
    padding-top: 30px;
    padding-left: 30px;
}

.buttonLight{
    color:black;
    background-color: white;
}

.lightHeader{
    color:white;
    font-size: 20px;
}

.selectBoxLight{
    width: 200px;
}

#ZeitBox01 { position: relative; top: 0px; left: 0px; width: 200px; height: 26px; margin: 0px; padding: 0px; border: none; background-color: #0070C0;}
#ZeitAnzeige { position: absolute; top: 0px; left: 0px; background: transparent; width: 200px; line-height: 26px; text-align: center; color: #FFFFFF; font-family: Verdana,Arial,Helvetica,sans-serif; font-size: 12px; font-weight: normal; }
//Inhalte stammen von: HTTP://WWW.WEB-TOOLBOX.NET/WEBTOOLBOX/ZEIT/UHRZEIT-DATUM-DYN.HTM#IXZZ4QOKBWJJE www.clickstart.de 


/*Toggle-Button:*/
.lbl {
  position: relative;
  display: block;
  height: 20px;
  width: 44px;
  background: #898989;
  border-radius: 100px;
  cursor: pointer;
  transition: all 0.3s ease;
}
.lbl:after {
  position: absolute;
  left: -2px;
  top: -3px;
  display: block;
  width: 26px;
  height: 26px;
  border-radius: 100px;
  background: #76FF03;
  box-shadow: 0px 3px 3px rgba(0,0,0,0.05);
  content: '';
  transition: all 0.3s ease;
}
.lbl:active:after { transform: scale(1.15, 0.85); }
.cbx:checked ~ label { background: #CCFF90; }
.cbx:checked ~ label:after {
  left: 20px;
  background: #76FF03;
}
.cbx:disabled ~ label {
  background: #d5d5d5;
  pointer-events: none;
}
.cbx:disabled ~ label:after { background: #bcbdbc; }





.tableControll{
    width:100%;
}
.tableControllTd{
    width:50%;
}
.tableControllTdRight{
    padding-left: 90px;
    padding-top: 20px;
}

.h1tableControll{
    color: #FAFAFA;
    font-size: 25px;
}
